*{
    font-family: Arial, Helvetica, sans-serif;
  
}
p, h3, span, header div, header, h1, h2, h4 {
    pointer-events: none;
}


.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    margin: 0;
}
.flex_container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    margin: 0;
}
.flex_container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
}
.flex_container_no_style {
    display: flex;
    flex-direction: row;
}
body{

    margin: 0px;
    background-color: silver;
    
}
#blinker {
    animation: blinker 0.6s linear infinite;
    color: red;

}
@keyframes blinker {
    50% {opacity: 0;}
}
#jumbotron_area {
    background-color:  black !important;
    width: 100%;
    height: auto;
    color: white;

}
#navigation_menu {
    font-style: italic;
    float: right;
    
}
#search_site {
  background-color: white;
  padding: 20px;
  background-color: red;
  display: none;
}
#search_site input {
   border-color: black;
    width: 99%;
    position: relative;
    left: 1%;
   
    font-size: 30px;
    text-align: center;
    
}
#navigation_menu button {
    background-color: #60b0f4;
    border-radius: 1px;
    border-style: none;
    margin-right: 5px;
    width: 70px;
    height: 15px;
    font-size: 10px;
    margin-bottom: 2px;
}
#navigation_menu :hover {
   background-color: #fdc794;
}
#heading_banner{
    width: 100%;
    font-size: 44px;
    color: #39ff14!important;
    background-color: black !important;
    
    height: 100px;
    margin: 0;
    box-shadow: black 0px 0px 5px;
    padding-top: 0px;
    padding-bottom: 0px;
   
}
#heading_banner img{
    float: left;
    position: relative;
    width:100px;
   
}

#heading_text {
    margin: 1px;
}
.abnormal_flex_items1 {
    background-color: silver;
      margin: 10px;
    
      
      border-radius: 3px;
      box-shadow: black 1px 2px 2px;
      cursor: pointer;
      font-size: 12px;
  }

.normal_flex_items {
  background-color: black;
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: black 1px 1px 3px 1px;
    cursor: pointer;
    font-size: 12px;
    color:white;
    text-align: center;

}

.inner_window {
    background-color: white;
    position: relative;
    width: 88%;
    align-items: center;
}
.flex_container2 :hover {
    box-shadow:  red 1px 1px 3px 1px !important;
    margin-top: 3px;
    color: red;
}
.flex_container2 span{
    font-size: 20px;
}
